<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <add key="source" value="Source Connection String"/>
        <add key="target" value="Target Connection String"/>

        <add key="MigrateBlobs" value="true"/>
        <add key="MigrateTables" value="true"/>

        <add key="TablesToCreateButNotMigrate" value="TableName1|TableName2" />
    </appSettings>
</configuration>